h1 {
	margin: 2rem;
}
h2,
h4 {
	margin-left: 2rem;
}

.loadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.footer {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.chartWrapper {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: -1rem;
	margin-bottom: 4rem;
	width: 100%;
	overflow-x: scroll;
}

.chartAreaWrapper {
	width: 2000px;
}
